<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="demo/stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" href="demo/stylesheets/github-dark.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="demo/javascripts/script.js"></script>

  <title>Ng-tools</title>
  <meta name="description" content="Some angular tools (directives, filters etc)">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="/bower_components/angular/angular.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script> -->
  <script src="dist/arth.js"></script>

    <script>
Object.defineProperty(Object.prototype, "flip", {
    enumerable: false,
    writable: false,
    value: function () {
      var result = {};
      for (var prop in this) {
        if(this.hasOwnProperty(prop)) {
          result[this[prop]] = prop;
        }
      }
      return result;
    }
});

!function(modules){
  angular.module('app', modules.map(function(m){
    return 'arth.'+m.name;
  })).controller('Main', [function(){
    this.modules = modules;
  }]).controller('Tokenized', ['$rootScope', '$scope', function($rootScope, $scope){
    var C = this;
    C.cursor = {};
    C.results = {
        14: 'Калий',
        15: 'Натрий',
        22: 'Билирубин общий',
        23: 'Билирубин прямой'
    };
    C.flipres = C.results.flip();
    C.buttons = Object.keys(C.results).map(function(id){
        return {model: 'result('+id+')', view:  C.results[id]}
    });
    ;[
      '+', '-', '*', '/', '^', '(', ')', ',',
      '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'].forEach(function(v){
        C.buttons.push({model: v, view: v});
    });
    ;['sin(','cos(','lg(','ln('].forEach(function(v){
        C.buttons.push({model: v, view: v});
    });
    ;['aa','bb','cc'].forEach(function(v){
        C.buttons.push({model: v, view: v});
    });

    C.svc = {};
    C.options = {
      svc: C.svc,
      parsers: [
        [resParser, 'push'],
        tokenParser
      ],
      formatters: [
        resFormatter
      ]
    };
    window.C = C;
    C.addToken = addToken;

    function addToken (token) {
      C.svc.addToken(token);
      C.str = C.svc.tokens.join('');
    }
    function resParser(val) {
        var result = (val || '').replace(/\[Рез: ([^\]]+)\]/g, function(m, n){
            if (C.flipres[n]) return 'result('+C.flipres[n]+')';
            return '';
        });
        // console.log('resParser', val, result, C.svc.tokens, C.str);
        return result;
    }
    function tokenParser (val, local) {
      var index = 0;
      var curIndex = -1;
      function saveCurIndex(index, msg) {
        if (~curIndex) return;
        curIndex = index;
        console.info('Cursor: ', index, msg, local);
      }
      var len = C.svc.tokens.length;
      var result = (val||'').replace(getModelRegex(), function(all, m) {
        // console.log('tokenParser.replace', index, m, C.svc.tokens[index]);
        if (local) return m || '';
        if (m) {
          console.log(index, 'matched', m);
          if (C.svc.tokens[index]!==m) {
            if (index>=len) {
              saveCurIndex(index+1, ['append', C.svc.tokens[index], '=>', m]);
              C.svc.tokens[index] = m;
            } else {
              saveCurIndex(index, ['update', C.svc.tokens[index], '=>', m]);
              C.svc.tokens[index] = m;
            }
          }
          index++;
        } else {
        }
        return m ? m : '';
      });
      if (local) return result;
      if (C.svc.tokens.length > index) {
        saveCurIndex(index, ['truncate', C.svc.tokens.slice()]);
        C.svc.tokens.splice(index);
      } else if (len < index) {
        index+=(index-len);
        saveCurIndex(index, ['???', C.svc.tokens.slice(index, 1)[0]]);
        C.svc.tokens.splice(index);
      }
      // console.log('tokenParser', val, result, C.svc.tokens, C.str);
      // C.str = C.svc.tokens.join('');
      C.svc.updateView(C.svc.format(result));
      C.svc.setPos(curIndex);
      return result;
    }
    function resFormatter(val) {
      var result = (val || '').replace(/result\((\d+)\)/g, function(m, n){
          if (C.results[n]) return '[Рез: '+C.results[n]+']';
          return '';
      });
      // console.log('resFormatter', val, result, C.svc.tokens, C.str);
      return result;
    }
    function regexParser(val) {
      var result = (val||'').replace(getViewRegex(), function(all, m) {
        return m ? m : '';
      });
      // console.log('regexParser', val, result, C.svc.tokens, C.str);
      return val;
    }

    function getViewRegex() {
      // /([\d\+\-\*\/\^\(\)\.\,]|\[[^\]]+\]|tok)|.+?/g
      var functions = ['sin', 'cos', 'tg', 'lg', 'ln'];
      var validTokens = [];
      validTokens.push('aa|bb|cc');
      validTokens.push('\\d');
      validTokens.push('[\\+\\-\\*\\/\\^\\(\\)\\.\\,]');
      validTokens.push('\\[Рез: [^\\]\\[]+\\]');
      functions.forEach(addFn);
      var str = validTokens.join('|');
      str = '('+str+')|.+?';
      return new RegExp(str, 'g');
      function addFn(fnName) {
        validTokens.push(fnName+'\\(')
      }
    }
    function getModelRegex() {
      // /([\d\+\-\*\/\^\(\)\.\,]|\[[^\]]+\]|tok)|.+?/g
      var functions = ['sin', 'cos', 'tg', 'lg', 'ln'];
      var validTokens = [];
      validTokens.push('aa|bb|cc');
      validTokens.push('\\d');
      validTokens.push('[\\+\\-\\*\\/\\^\\(\\)\\.]');
      validTokens.push('result\\(\\d+\\)');
      functions.forEach(addFn);
      var str = validTokens.join('|');
      str = '('+str+')|.+?';
      return new RegExp(str, 'g');
      function addFn(fnName) {
        validTokens.push(fnName+'\\(')
      }
    }

  }]);
}([
  {name: 'tokenized', link: 'demo/tpl/tokenized.arth.html', title: 'Tokenized input'},
  {name: 'cursor', link: 'demo/tpl/cursor.arth.html', title: 'Cursor position controlling'},
]);
    </script>
</head>

<body ng-app="app" ng-controller="Main as ctrl">

  <div class="wrapper">
    <header>
      <h1 class="title">Ng-tools Demo</h1>
    </header>
    <div id="container">
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <a href="https://github.com/vpArth/ng-tools/tarball/master" class="download-button tar"><span>Download</span></a>
          <a href="https://github.com/vpArth/ng-tools/zipball/master" class="download-button zip"><span>Download</span></a>
          <a href="https://github.com/vpArth/ng-tools" class="code">View Ng-tools on GitHub</a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          <h1>
<a id="angular-tools" class="anchor" href="#angular-tools" aria-hidden="true"><span class="octicon octicon-link"></span></a>Angular tools</h1>

<p>Repo for save some experience with angular providers creating.</p>
        </article>
        <nav>
          <ul>
            <li
              ng-repeat="m in ctrl.modules"
              ng-click="ctrl.m=m"
              ng-class="{active: ctrl.m.name==m.name}"
              >{{m.name}}</li>
          </ul>
        </nav>
        <section ng-init="ctrl.m=ctrl.modules[0]" ng-include="ctrl.m.link">
        </section>

      </div>
    </div>
    <footer>
      <div class="owner">
      <p><a href="https://github.com/vpArth" class="avatar"><img src="https://avatars1.githubusercontent.com/u/4529061?v=3&amp;s=60" width="48" height="48"></a> <a href="https://github.com/vpArth">vpArth</a> maintains <a href="https://github.com/vpArth/ng-tools">Ng-tools</a></p>


      </div>
      <div class="creds">
        <small>This page generated using <a href="https://pages.github.com/">GitHub Pages</a><br>theme by <a href="https://twitter.com/jonrohan/">Jon Rohan</a></small>
      </div>
    </footer>
  </div>
  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <a href="https://github.com/vpArth/ng-tools/tarball/master" class="tar">tar</a><a href="https://github.com/vpArth/ng-tools/zipball/master" class="zip">zip</a><a href="" class="code">source code</a>
    <p class="name"></p>
  </div>

</body>
</html>
