<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="demo/stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" href="demo/stylesheets/github-dark.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="demo/javascripts/script.js"></script>

  <title>Ng-tools</title>
  <meta name="description" content="Some angular tools (directives, filters etc)">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!--   <script src="/bower_components/angular/angular.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script src="dist/arth.js"></script>

    <script>
!function(modules){
  angular.module('app', modules.map(function(m){
    return 'arth.'+m.name;
  })).controller('Main', [function(){
    this.modules = modules;
  }]).controller('Tokenized', ['$rootScope', '$scope', 'ParserFactory', 'MappingParser',
  function($rootScope, $scope, Parser, Mapping){
    // Setup parsers
    var C = this;
    C.svc = {};
    var model2view = {
        1: 'Year',
        2: 'Month',
        3: 'Day',
        4: 'Age'
    }, view2model = flip(model2view);

    C.options = {
      modelviews: {
        commonExp: [
            /\d/,
            /[\*\/\+\-\^\(\)\.]/,
            /(?:sin|cos|log|ln)\(/
        ],
        maps: [{
          mv: model2view,
          vm: view2model,
          reg: [/\[([^\[\]]+?)\]/, /param\((\d+)\)/],
          tpl: ['[\\$1]', 'param(\\$1)']
        }, {
          mv: {
            "exp": 'ℯ',
            "pi": 'π'
          },
          vm: {
            'ℯ': "exp",
            'π': "pi"
          },
          reg: [/(ℯ|π)/, /const\('(\w+)'\)/],
          tpl: ['\\$1', "const('\\$1')"]
        }]
      }
    };

    C.buttons = Object.keys(model2view).map(function(id){
        return {model: 'param('+id+')', view:  model2view[id]}
    });
    ;[
      '+', '-', '*', '/', '^', '(', ')', '.',
      '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'].forEach(function(v){
        C.buttons.push({model: v, view: v});
    });
    C.buttons.push({model: "const('pi')", view: 'π'});
    C.buttons.push({model: "const('exp')", view: 'ℯ'});
    ;['sin(','cos(','lg(','ln('].forEach(function(v){
        C.buttons.push({model: v, view: v});
    });
    C.addToken = addToken;
    C.setView = setView;
    C.getView = getView;
    C.setModel = setModel;
    C.clear = clear;

    function addToken (token) {
      C.options.addToken(token);
    }
    function setView (value) {
      C.options.setViewValue(value);
    }
    function getView () {
      return C.options.getViewValue();
    }
    function setModel (value) {
      C.options.setModelValue(value);
    }
    function clear (value) {
      C.options.clear(value);
    }
    function flip(obj) {
      var result = {};
      for (var prop in obj) {
        if(obj.hasOwnProperty(prop)) {
          result[obj[prop]] = prop;
        }
      }
      return result;
    }
  }]);
}([
  {name: 'tokenized', link: 'demo/tpl/tokenized.arth.html', title: 'Tokenized input'},
  {name: 'cursor', link: 'demo/tpl/cursor.arth.html', title: 'Cursor position controlling'},
]);
    </script>
</head>

<body ng-app="app" ng-controller="Main as ctrl">

  <div class="wrapper">
    <header>
      <h1 class="title">Ng-tools Demo</h1>
    </header>
    <div id="container">
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <a href="https://github.com/vpArth/ng-tools/tarball/master" class="download-button tar"><span>Download</span></a>
          <a href="https://github.com/vpArth/ng-tools/zipball/master" class="download-button zip"><span>Download</span></a>
          <a href="https://github.com/vpArth/ng-tools" class="code">View Ng-tools on GitHub</a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          <h1>
<a id="angular-tools" class="anchor" href="#angular-tools" aria-hidden="true"><span class="octicon octicon-link"></span></a>Angular tools</h1>

<p>Repo for save some experience with angular providers creating.</p>
        </article>
        <nav>
          <ul>
            <li
              ng-repeat="m in ctrl.modules"
              ng-click="ctrl.m=m"
              ng-class="{active: ctrl.m.name==m.name}"
              >{{m.name}}</li>
          </ul>
        </nav>
        <section ng-init="ctrl.m=ctrl.modules[0]" ng-include="ctrl.m.link">
        </section>

      </div>
    </div>
    <footer>
      <div class="owner">
      <p><a href="https://github.com/vpArth" class="avatar"><img src="https://avatars1.githubusercontent.com/u/4529061?v=3&amp;s=60" width="48" height="48"></a> <a href="https://github.com/vpArth">vpArth</a> maintains <a href="https://github.com/vpArth/ng-tools">Ng-tools</a></p>


      </div>
      <div class="creds">
        <small>This page generated using <a href="https://pages.github.com/">GitHub Pages</a><br>theme by <a href="https://twitter.com/jonrohan/">Jon Rohan</a></small>
      </div>
    </footer>
  </div>
  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <a href="https://github.com/vpArth/ng-tools/tarball/master" class="tar">tar</a><a href="https://github.com/vpArth/ng-tools/zipball/master" class="zip">zip</a><a href="" class="code">source code</a>
    <p class="name"></p>
  </div>

</body>
</html>
