<div ng-init="ctrl.data={}">
    <div class="frame bbox" style="width: 100%">
        <h3>{{ctrl.m.title}}</h3>
        <input arth-cursor="ctrl.data" ng-model="str" style="width: 100%" class="bbox" placeholder="Enter anything here..."/>
        <input arth-cursor ng-model="str2" style="width: 100%" class="bbox" placeholder="Enter anything here..."/>
    </div>
    <div class="frame">
        <h3>Selection settings</h3>
        <p>Start: <input type="number" min="0" max="{{str.length}}" ng-model="ctrl.data.start" /></p>
        <p>End: <input type="number" min="0" max="{{str.length}}" ng-model="ctrl.data.end" /></p>
        <p>Pos: <input type="number" min="0" max="{{str.length}}" ng-model="ctrl.data.pos" /></p>
        <p title="You can not to set backward selection, when nothing selected">
            Forward: <input type="checkbox" ng-model="ctrl.data.dir" />
        </p>
    </div>
    <div class="frame">
        <pre>Data: &#0010;{{ctrl.data|json}}</pre>
    </div>
</div>
