<div>
    <h3>{{ctrl.m.title}}</h3>
    <div ng-controller="Tokenized as tok">
        <div class="frame bbox" style="width: 100%">
            <input arth-tokenized="tok.options" ng-model="tok.str"
                style="width: 100%" class="bbox" />
            <hr/>
            {{tok.str}}
        </div>
        <div class="frame">
            <h3>Test form</h3>
            <p>
                <button type="button" ng-click="tok.addToken(button.model)" ng-repeat="button in tok.buttons">
                    {{button.view}}
                </button>
            </p>
            <p>
                <input ng-model="tok.demostr" />
                <button class="actionBtn" type="button" ng-click="tok.setView(tok.demostr)">SetView</button>
                <button class="actionBtn" type="button" ng-click="tok.setModel(tok.demostr)">SetModel</button>
                <button class="actionBtn" type="button" ng-click="tok.clear()">Clear</button>
                <button class="actionBtn" type="button" ng-click="tok.demostr=tok.getView()">getView</button>
            </p>
        </div>
    </div>
</div>
