<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/index.css">

    <title>Angular modules demo | vp_arth</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>

    <script src="/arth.js"></script>

    <script>
        !function(modules){
          angular.module('app', modules.map(function(m){
            return 'arth.'+m.name;
          })).controller('Main', [function(){
            this.modules = modules;
          }]);
        }([
          {name: 'cursor', link: '/cursor.arth.html', title: 'Cursor position controlling'}
        ]);
    </script>
  </head>
  <body ng-app="app" ng-controller="Main as c">
    <h1>Angular modules demo</h1>

    <header>
       <nav>
          <ul class="nav inline-items">
            <li ng-repeat="m in c.modules" ng-click="c.tpl=m.link">{{m.name}}</li>
         </ul>
      </nav>
    </header>

    <div class="columnsContainer">
      <h5>{{tpl}}</h5>
      <div class="leftColumn" ng-init="c.tpl=c.modules[0].link" ng-include="c.tpl"></div>
      <div class="rightColumn">
          <h2>Module list</h2>
          <ul class="nav">
              <li ng-repeat="m in c.modules" ng-click="c.tpl=m.link" class="pointer" title="{{m.link}}">{{m.title}}</li>
          </ul>
      </div>

    </div>

    <footer>
        <p>
          Alexander Deider <a href="mailto:arth.inbox@gmail.com">&lt;arth.inbox@gmail.com&gt;</a>
        </p>
        <p>The <a href="https://opensource.org/licenses/MIT">MIT</a> License</p>
    </footer>

  </body>
</html>
